@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500&display=swap');

body {
    background-color: black ;
    margin: 0px;
    overflow: hidden;
}

.griglia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    margin: 2vw 2vw;
}

.filetto{
    border-bottom: 2px solid white;
    margin-left: 0px;
    margin-right: 0px; 
}

a{
    text-decoration: none; 
   color:white;

}

a:hover{
    color: #ccff00;
    cursor: pointer;
    text-decoration: none;
}


.bottone{
    background-color: black;
}

.bottone:hover{
    background-color: #EF02F5;
}


/* 

 */

.cella {
  /*   outline: 1px red solid; */
    font-family: 'Archivo', sans-serif;
    color: white;    
}



.singola{
    grid-column: span 1;
}

.doppia {
     grid-column: span 2;
}
.tripla {
     grid-column: span 3;
}
.quadrupla {
     grid-column: span 4;
}

.sestupla {
     grid-column: span 6;
}

.ottupla {
    grid-column: span 8;
}
.nonupla {
    grid-column: span 9;
}

.decima {
    grid-column: span 10;
}

.undicesima{
    grid-column: span 11;
}

.tutta {
    grid-column: span 12;
}

.capitoli {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    top: 25vh
}

.titoletti {
    margin: 0px;
    padding: 0.25vw;
    font-size: 1.25vw;
    font-weight: 300;
    margin-left: 1vw;
    /*margin: 0;*/
}

.titolo {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 4.75vw;
    font-weight: 400;
    /*margin: 0;*/
}

.articoli {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 4.75vw;
    font-weight: 400;
    margin-top: 1.5vw;
    color: white;
    /*margin: 0;*/
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 1.25;
    margin-right: 2vw;
    margin-bottom: 0px;
    margin-top: 1.33vw;
    /*margin: 0;*/

}

hr{
    background-color: white;
    border: 1px solid white;
    margin-left: -3em;
    margin-right: -3em;
    padding: 0px;
    margin-top: 5px;

}

button{
    background-color: black;
    border-radius: 50%;
    border-color: white;
    text-decoration: none;
    border-style: solid;
    text-shadow: none;
    text-align: center;
}

button:hover{
    background-color: #EF02F5;
}

.footer{
    position: absolute;
    top: 85vh;
}

img{
    width: 4vw;
}

.bottone1 .tooltiptext {
    font-family: 'Archivo', sans-serif;
    font-size: 4.75vw;
    visibility: hidden;
    background-color:none;
    color:#EF02F5;
    top: -1vh;
   text-align: left;
   right: 18.5vw;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .bottone1:hover .tooltiptext {
    visibility: visible;
  }

  .bottone2 .tooltiptext {
    font-family: 'Archivo', sans-serif;
    font-size: 4.75vw;
    visibility: hidden;
    background-color:none;
    color:#EF02F5;
    top: -1vh;
   text-align: left;
   right: 20vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .bottone2:hover .tooltiptext {
    visibility: visible;
  }

  .bottone3{
      top: 85vh;
      left:90vw;
      position: fixed;
  }

  .bottone3 .tooltiptext {
    font-family: 'Archivo', sans-serif;
    font-size: 3em;
    visibility: hidden;
    background-color:none;
    color:#EF02F5;
    top: 20px;
    right: 7vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .bottone3:hover .tooltiptext {
    visibility: visible;
  }

  .bottone4{
    top: 85vh;
    left:90vw;
    position: fixed;
}

.bottone4 .tooltiptext {
  font-family: 'Archivo', sans-serif;
  font-size: 3em;
  visibility: hidden;
  background-color:none;
  color:#EF02F5;
  top: 20px;
  right: 7vw;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.bottone4:hover .tooltiptext {
  visibility: visible;
}