@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500&display=swap');


body {
    background-color: black ;
    margin: 0px;
    overflow: visible;
}

.griglia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    margin: 2vw 2vw;
}

.filetto{
    border-bottom: 2px solid white;
    margin-left: 0px;
    margin-right: 0px; 
}

a{
    text-decoration: none; 
    color:white;
}

a:hover{
    color: #ccff00;
    cursor: pointer;
    text-decoration: none;
} 

.cella {
    /*outline: 1px red solid; */
    font-family: 'Archivo', sans-serif;
    color: white;    
}

.singola{
    grid-column: span 1;
}

.doppia {
     grid-column: span 2;
}

.tripla {
     grid-column: span 3;
}

.quadrupla {
     grid-column: span 4;
}

.sestupla {
     grid-column: span 6;
}

.ottupla {
    grid-column: span 8;
}

.nonupla {
    grid-column: span 9;
}

.decima {
    grid-column: span 10;
}

.undicesima{
    grid-column: span 11;
}

.tutta {
    grid-column: span 12;
}

.capitoli {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    top: 25vh
}

.titoletti {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 2.5vw;
    font-weight: 400;
    margin-top: 1.5vw;
    line-height: 1.15em;
    /*margin: 0;*/
}

.titolo {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 4.8vw;
    font-weight: 400;
    line-height: 1.1em;
    /*margin: 0;*/
}

.articoli {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 4.8vw;
    font-weight: 400;
    margin-top: 1.5vw;
    line-height: 1.1em;
    /*margin: 0;*/
}

p {

    margin: 0px;
    padding: 0px;
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 1.2;
    margin-right: 2vw;
    margin-bottom: 0px;
    margin-top: 1.33vw;
    
    /*margin: 0;*/

}

hr{
    background-color: white;
    border: 1px solid white;
    margin-left: -3em;
    margin-right: -3em;
    padding: 0px;
    margin-top: 5px;

}



.footer{
    position: absolute;
    top: 85vh;
}

img{
    width: 50px;
    }

button{
        background-color: black;
        border-radius: 50%;
        border-color: white;
        border: 2px solid white;
        text-decoration: none;
        border-style: solid;
        text-shadow: none;
        text-align: center;
        height: 67px;
        width: 80px;
        
    }
    
button:hover{
        background-color: magenta;
    }
    
.bottone5:hover{
        background-color: #ccff00;
    }

.bottone1 .tooltiptext {
    font-family: 'Archivo', sans-serif;
    font-size: 4.8vw;
    visibility: hidden;
    color:magenta;
    background-color: black;
    top: -1vh;
    text-align: left;
    right: 150px;  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
.bottone1:hover .tooltiptext {
    visibility: visible;
  }

.bottone2 .tooltiptext {
    font-family: 'Archivo', sans-serif;
    font-size: 4.8vw;
    visibility: hidden;
    background-color:none;
    color:magenta;
    background-color: black;
    top: -1vh;
    text-align: left;
    right:250px;  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
.bottone2:hover .tooltiptext {
    visibility: visible;
}

.bottone1{
    top: calc(100vh - 100px);
    left: calc(100vw - 225px);
    position: fixed;
    z-index: 2;
}

.bottone2{
    top: calc(100vh - 100px);
    left: calc(100vw - 125px);
    position: fixed;
    z-index: 1;
}

.bottone3{
    top: calc(100vh - 185px);
    left: calc(100vw - 125px);
    position: fixed;
    z-index: 2;
}

.bottone3 .tooltiptext {
    font-family: 'Archivo', sans-serif;
    font-size: 2.5vw;
    visibility: hidden;
    background-color:none;
    color:magenta;
    background-color: black;
    top: 0px;
    right: 100px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
.bottone3:hover .tooltiptext {
    visibility: visible;
  }

.bottone4{
    top: calc(100vh - 185px);
    left: calc(100vw - 125px);
    position: fixed;
    z-index: 2;
}

.bottone4 .tooltiptext {
    font-family: 'Archivo', sans-serif;
    font-size: 2.5vw;
    visibility: hidden;
    background-color:none;
    color:magenta;
    background-color: black;
    top: 0px;
    right:100px;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
}

.bottone4:hover .tooltiptext {
  visibility: visible;
}

.bottone5{
    top: calc(100vh - 100px);
    left: calc(100vw - 125px);
    position: fixed;
    z-index: 1;
}

.bottone5 .tooltiptext {
    font-family: 'Archivo', sans-serif;
    font-size: 2.5vw;
    visibility: hidden;
    background-color:none;
    color:#ccff00;
    background-color: black;
    top: 0px;
    right: 100px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.bottone5:hover .tooltiptext {
  visibility: visible;
}

.info{
    font-size: 1.33vw;
    line-height: 1.2;
    position: sticky;
    position: -webkit-sticky;
    margin-left: 2vw;
    margin-right: 85vw;
    margin-bottom: 0px;
    padding-top: 10px;
    top: 50px;
    color: white;
}






/* RESPONSIVE */
@media (max-width:600px) {


    body{
        overflow-y: scroll;
    }

    .griglia {
        max-width: initial;
        /* display: block; */
        margin-top: 10px;
    }
    .cella {
        margin-bottom: 1em;
    }
    .bottone1{
        top: calc(100vh - 60px);
        left:80%;
        position: fixed;
        z-index: 2;
    }
    .bottone2{
        top: calc(100vh - 110px);
        left:80%;
        position: fixed;
        z-index: 2;
    }

    .bottone3{
        top: calc(100vh - 110px);
        left:80%;
        position: fixed;
        z-index: 2;
        height: 40px;
        width: 50px;
    }
    .bottone4{
        top: calc(100vh - 110px);
        left:80%;
        position: fixed;
        z-index: 2;
        height: 40px;
        width: 50px;
    }
    .bottone5{
        top: calc(100vh - 60px);
        left:80%;
        position: fixed;
        z-index: 2;
        height: 40px;
        width: 50px;
    }

    .bottone1 .tooltiptext {
        font-size: 4.5vw;
        right: 70px;  
        visibility: visible;
      }

    .bottone2 .tooltiptext {
        font-size: 4.5vw;
        right: 70px;  
        visibility: visible;
      }
    .bottone3 .tooltiptext {
        font-size: 4.5vw;
        right: 70px;  
        visibility: visible;
      }

    .bottone4 .tooltiptext {
        font-size: 4.5vw;
        right: 70px;  
        visibility: visible;
      }

    .bottone5 .tooltiptext {
        font-size: 4.5vw;
        right: 70px;
        visibility: visible;
    }

    button{
        background-color: black;
        border-radius: 50%;
        border-color: white;
        border: 2px solid white;
        text-decoration: none;
        border-style: solid;
        text-shadow: none;
        text-align: center;
        height: 40px;
        width: 50px;

    }

    img{
        width: 33px;
    }

    .titolo{
        font-size: 2.5em;
    }

    .articoli{
        font-size: 2.5em;
    }

    .titoletti {
        text-align: left;
        margin: 0px;
        padding: 0px;
        font-size: 4.5vw;
        font-weight: 400;
        margin-top: 1.5vw;
        line-height: 1.15em;
        /*margin: 0;*/
    }

    p{
        font-size: 1em;
    }

    hr{
        margin-top: 1em;
        margin-bottom: 1em;
    }


    


}